In [2]:
import pandas as pd
import numpy as np

In [3]:
# Rolling window

In [4]:
# Generic rolling windows support specifying windows as a fixed number of observations or variable number of observations based on an offset. If a time based offset is provided, the corresponding time based index must be monotonic.

In [5]:
times = ['2020-01-01', '2020-01-03', '2020-01-04', '2020-01-05', '2020-01-29']

In [6]:
s = pd.Series(range(5), index=pd.DatetimeIndex(times))
s.rolling(window=2).sum()

2020-01-01    NaN
2020-01-03    1.0
2020-01-04    3.0
2020-01-05    5.0
2020-01-29    7.0
dtype: float64

In [7]:
# Window with 2 days worth of observations

In [8]:
s.rolling(window='2D').sum()

2020-01-01    0.0
2020-01-03    1.0
2020-01-04    3.0
2020-01-05    5.0
2020-01-29    4.0
dtype: float64

In [9]:
# Centering windows

In [10]:
# By default the labels are set to the right edge of the window, but a center keyword is available so the labels can be set at the center.

In [11]:

s = pd.Series(range(10))

s.rolling(window=5).mean()
s.rolling(window=5, center=True).mean()

0    NaN
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    NaN
9    NaN
dtype: float64

In [12]:
df = pd.DataFrame(
    {"A": [0, 1, 2, 3, 4]}, index=pd.date_range("2020", periods=5, freq="1D")
)
df.rolling("2D", center=False).mean()

              A
2020-01-01  0.0
2020-01-02  0.5
2020-01-03  1.5
2020-01-04  2.5
2020-01-05  3.5

In [13]:
df.rolling("2D", center=True).mean()

              A
2020-01-01  0.5
2020-01-02  1.5
2020-01-03  2.5
2020-01-04  3.5
2020-01-05  4.0

In [14]:
# Custom window rolling

In [ ]:
# In addition to accepting an integer or offset as a window argument, rolling also accepts a BaseIndexer subclass that allows a user to define a custom method for calculating window bounds. The BaseIndexer subclass will need to define a get_window_bounds method that returns a tuple of two arrays, the first being the starting indices of the windows and second being the ending indices of the windows. Additionally, num_values, min_periods, center, closed and step will automatically be passed to get_window_bounds and the defined method must always accept these arguments.

In [5]:
import pandas as pd
df=pd.DataFrame({"values":range(5)})
df

   values
0       0
1       1
2       2
3       3
4       4

In [1]:
use_expanding = [True, False, True, False, True]

In [15]:
# # Rolling window endpoints
# The inclusion of the interval endpoints in rolling window calculations can be specified with the closed parameter:

# Value

# Behavior

# 'right'

# close right endpoint

# 'left'

# close left endpoint

# 'both'

# close both endpoints

# 'neither'

# open endpoints

In [16]:
# Rolling apply

In [17]:
# The apply() function takes an extra func argument and performs generic rolling computations. The func argument should be a single function that produces a single value from an ndarray input. raw specifies whether the windows are cast as Series objects (raw=False) or ndarray objects (raw=True).

In [18]:
def mad(x):
    return np.fabs(x - x.mean()).mean()


s = pd.Series(range(10))

s.rolling(window=4).apply(mad, raw=True)

0    NaN
1    NaN
2    NaN
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
dtype: float64

In [19]:
# Expanding window
# An expanding window yields the value of an aggregation statistic with all the data available up to that point in time. Since these calculations are a special case of rolling statistics, they are implemented in pandas such that the following two calls are equivalent:

In [20]:
df = pd.DataFrame(range(5))

df.rolling(window=len(df), min_periods=1).mean()
df.expanding(window=len(df),min_periods=1).mean()

TypeError: NDFrame.expanding() got an unexpected keyword argument 'window'

In [ ]:
# Weighted window

In [ ]:
# The win_type argument in .rolling generates a weighted windows that are commonly used in filtering and spectral estimation. win_type must be string that corresponds to a scipy.signal window function. Scipy must be installed in order to use these windows, and supplementary arguments that the Scipy window methods take must be specified in the aggregation function.

In [ ]:
s = pd.Series(range(10))
s.rolling(window=5).mean()
s.rolling(window=5, win_type="triang").mean()
s.rolling(window=5, win_type="gaussian").mean(std=0.1)

In [ ]:
# Expanding window

In [ ]:
# Rolling apply
# The apply() function takes an extra func argument and performs generic rolling computations. The func argument should be a single function that produces a single value from an ndarray input. raw specifies whether the windows are cast as Series objects (raw=False) or ndarray objects (raw=True).

In [ ]:
def mad(x):
    return np.fabs(x - x.mean()).mean()


s = pd.Series(range(10))

s.rolling(window=4).apply(mad, raw=True)

In [ ]:
# pandas.core.window.expanding.Expanding.min
# Expanding.min(numeric_only=False, engine=None, engine_kwargs=None)[source]
# Calculate the expanding minimum.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# New in version 1.5.0.

# enginestr, default None
# 'cython' : Runs the operation through C-extensions from cython.

# 'numba' : Runs the operation through JIT compiled code from numba.

# None : Defaults to 'cython' or globally setting compute.use_numba

# New in version 1.3.0.

# engine_kwargsdict, default None
# For 'cython' engine, there are no accepted engine_kwargs

# For 'numba' engine, the engine can accept nopython, nogil and parallel dictionary keys. The values must either be True or False. The default engine_kwargs for the 'numba' engine is {'nopython': True, 'nogil': False, 'parallel': False}

# New in version 1.3.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [ ]:
ser = pd.Series([2, 3, 4, 1], index=['a', 'b', 'c', 'd'])
ser.expanding().min()

a    2.0
b    2.0
c    2.0
d    1.0
dtype: float64

In [ ]:
# # Expanding.count(numeric_only=False)
# Calculate the expanding count of non NaN observations.

# Returns
# :
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype

In [ ]:
ser = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
ser.expanding().count()

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [ ]:
# pandas.core.window.expanding.Expanding.sum
# Expanding.sum(numeric_only=False, engine=None, engine_kwargs=None)[source]
# Calculate the expanding sum.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# New in version 1.5.0.

# enginestr, default None
# 'cython' : Runs the operation through C-extensions from cython.

# 'numba' : Runs the operation through JIT compiled code from numba.

# None : Defaults to 'cython' or globally setting compute.use_numba

# New in version 1.3.0.

# engine_kwargsdict, default None
# For 'cython' engine, there are no accepted engine_kwargs

# For 'numba' engine, the engine can accept nopython, nogil and parallel dictionary keys. The values must either be True or False. The default engine_kwargs for the 'numba' engine is {'nopython': True, 'nogil': False, 'parallel': False}

# New in version 1.3.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [ ]:
ser = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
ser.expanding().sum()

a     1.0
b     3.0
c     6.0
d    10.0
dtype: float64

In [ ]:
ser = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
ser.expanding().mean()

a    1.0
b    1.5
c    2.0
d    2.5
dtype: float64

In [ ]:
# pandas.core.window.expanding.Expanding.median
# Expanding.median(numeric_only=False, engine=None, engine_kwargs=None)[source]
# Calculate the expanding median.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# New in version 1.5.0.

# enginestr, default None
# 'cython' : Runs the operation through C-extensions from cython.

# 'numba' : Runs the operation through JIT compiled code from numba.

# None : Defaults to 'cython' or globally setting compute.use_numba

# New in version 1.3.0.

# engine_kwargsdict, default None
# For 'cython' engine, there are no accepted engine_kwargs

# For 'numba' engine, the engine can accept nopython, nogil and parallel dictionary keys. The values must either be True or False. The default engine_kwargs for the 'numba' engine is {'nopython': True, 'nogil': False, 'parallel': False}

# New in version 1.3.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [ ]:
ser = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
ser.expanding().median()

a    1.0
b    1.5
c    2.0
d    2.5
dtype: float64

In [ ]:
# pandas.core.window.rolling.Rolling.count
# Rolling.count(numeric_only=False)[source]
# Calculate the rolling count of non NaN observations.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# New in version 1.5.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [ ]:
s = pd.Series([2, 3, np.nan, 10])
s.rolling(2).count()

0    NaN
1    2.0
2    1.0
3    1.0
dtype: float64

In [ ]:
s.rolling(3, center=True).sum()

0   NaN
1   NaN
2   NaN
3   NaN
dtype: float64

In [ ]:
# pandas.core.window.rolling.Rolling.mean
# Rolling.mean(numeric_only=False, engine=None, engine_kwargs=None)[source]
# Calculate the rolling mean.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# New in version 1.5.0.

# enginestr, default None
# 'cython' : Runs the operation through C-extensions from cython.

# 'numba' : Runs the operation through JIT compiled code from numba.

# None : Defaults to 'cython' or globally setting compute.use_numba

# New in version 1.3.0.

# engine_kwargsdict, default None
# For 'cython' engine, there are no accepted engine_kwargs

# For 'numba' engine, the engine can accept nopython, nogil and parallel dictionary keys. The values must either be True or False. The default engine_kwargs for the 'numba' engine is {'nopython': True, 'nogil': False, 'parallel': False}

# New in version 1.3.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [ ]:
s = pd.Series([1, 2, 3, 4])
s.rolling(2).mean()

0    NaN
1    1.5
2    2.5
3    3.5
dtype: float64

In [ ]:
# pandas.core.window.rolling.Rolling.median
# Rolling.median(numeric_only=False, engine=None, engine_kwargs=None)[source]
# Calculate the rolling median.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# New in version 1.5.0.

# enginestr, default None
# 'cython' : Runs the operation through C-extensions from cython.

# 'numba' : Runs the operation through JIT compiled code from numba.

# None : Defaults to 'cython' or globally setting compute.use_numba

# New in version 1.3.0.

# engine_kwargsdict, default None
# For 'cython' engine, there are no accepted engine_kwargs

# For 'numba' engine, the engine can accept nopython, nogil and parallel dictionary keys. The values must either be True or False. The default engine_kwargs for the 'numba' engine is {'nopython': True, 'nogil': False, 'parallel': False}

# New in version 1.3.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [ ]:
s = pd.Series([0, 1, 2, 3, 4])
s.rolling(3).median()

0    NaN
1    NaN
2    1.0
3    2.0
4    3.0
dtype: float64

In [ ]:
# pandas.core.window.rolling.Window.sum
# Window.sum(numeric_only=False, **kwargs)[source]
# Calculate the rolling weighted window sum.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# New in version 1.5.0.

# **kwargs
# Keyword arguments to configure the SciPy weighted window type.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [ ]:
ser.rolling(2, win_type='gaussian').sum(std=3)

a         NaN
b    2.958621
c    4.931036
d    6.903450
dtype: float64

In [ ]:
# Rolling.var(ddof=1, numeric_only=False, engine=None, engine_kwargs=None)[source]
# Calculate the rolling variance.

# Parameters:
# ddofint, default 1
# Delta Degrees of Freedom. The divisor used in calculations is N - ddof, where N represents the number of elements.

# numeric_onlybool, default False
# Include only float, int, boolean columns.

# New in version 1.5.0.

# enginestr, default None
# 'cython' : Runs the operation through C-extensions from cython.

# 'numba' : Runs the operation through JIT compiled code from numba.

# None : Defaults to 'cython' or globally setting compute.use_numba

# New in version 1.4.0.

# engine_kwargsdict, default None
# For 'cython' engine, there are no accepted engine_kwargs

# For 'numba' engine, the engine can accept nopython, nogil and parallel dictionary keys. The values must either be True or False. The default engine_kwargs for the 'numba' engine is {'nopython': True, 'nogil': False, 'parallel': False}

# New in version 1.4.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [ ]:
s = pd.Series([5, 5, 6, 7, 5, 5, 5])
s.rolling(3).var()

0         NaN
1         NaN
2    0.333333
3    1.000000
4    1.000000
5    1.333333
6    0.000000
dtype: float64

In [ ]:
# Rolling.skew(numeric_only=False)[source]
# Calculate the rolling unbiased skewness.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# New in version 1.5.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

# See also

# scipy.stats.skew
# Third moment of a probability density.

# pandas.Series.rolling
# Calling rolling with Series data.

# pandas.DataFrame.rolling
# Calling rolling with DataFrames.

# pandas.Series.skew
# Aggregating skew for Series.

# pandas.DataFrame.skew
# Aggregating skew for DataFrame.

# Notes

# A minimum of three periods is required for the rolling calculation.

In [ ]:
ser = pd.Series([1, 5, 2, 7, 15, 6])
ser.rolling(3).skew().round(6)

0         NaN
1         NaN
2    1.293343
3   -0.585583
4    0.670284
5    1.652317
dtype: float64

In [ ]:
# Rolling.aggregate(func, *args, **kwargs)[source]
# Aggregate using one or more operations over the specified axis.

# Parameters:
# funcfunction, str, list or dict
# Function to use for aggregating the data. If a function, must either work when passed a Series/Dataframe or when passed to Series/Dataframe.apply.

# Accepted combinations are:

# function

# string function name

# list of functions and/or function names, e.g. [np.sum, 'mean']

# dict of axis labels -> functions, function names or list of such.

# *args
# Positional arguments to pass to func.

# **kwargs
# Keyword arguments to pass to func.

# Returns:
# scalar, Series or DataFrame
# The return can be:

# scalar : when Series.agg is called with single function

# Series : when DataFrame.agg is called with a single function

# DataFrame : when DataFrame.agg is called with several functions

In [ ]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6], "C": [7, 8, 9]})
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
df.rolling(2).agg({"A": "sum", "B": "min"})

     A    B
0  NaN  NaN
1  3.0  4.0
2  5.0  5.0

In [ ]:
# Rolling.kurt(numeric_only=False)[source]
# Calculate the rolling Fisherâ€™s definition of kurtosis without bias.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# New in version 1.5.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [ ]:
arr = [1, 2, 3, 4, 999]
s = pd.Series(arr)
s.rolling(4).kurt()

0         NaN
1         NaN
2         NaN
3   -1.200000
4    3.999946
dtype: float64

In [ ]:
# pandas.core.window.rolling.Rolling.max
# Rolling.max(numeric_only=False, *args, engine=None, engine_kwargs=None, **kwargs)[source]
# Calculate the rolling maximum.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# New in version 1.5.0.

# enginestr, default None
# 'cython' : Runs the operation through C-extensions from cython.

# 'numba' : Runs the operation through JIT compiled code from numba.

# None : Defaults to 'cython' or globally setting compute.use_numba

# New in version 1.3.0.

# engine_kwargsdict, default None
# For 'cython' engine, there are no accepted engine_kwargs

# For 'numba' engine, the engine can accept nopython, nogil and parallel dictionary keys. The values must either be True or False. The default engine_kwargs for the 'numba' engine is {'nopython': True, 'nogil': False, 'parallel': False}

# New in version 1.3.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [ ]:
ser = pd.Series([1, 2, 3, 4])
ser.rolling(2).max()

0    NaN
1    2.0
2    3.0
3    4.0
dtype: float64

In [ ]:
# Rolling.min(numeric_only=False, engine=None, engine_kwargs=None)[source]
# Calculate the rolling minimum.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# New in version 1.5.0.

# enginestr, default None
# 'cython' : Runs the operation through C-extensions from cython.

# 'numba' : Runs the operation through JIT compiled code from numba.

# None : Defaults to 'cython' or globally setting compute.use_numba

# New in version 1.3.0.

# engine_kwargsdict, default None
# For 'cython' engine, there are no accepted engine_kwargs

# For 'numba' engine, the engine can accept nopython, nogil and parallel dictionary keys. The values must either be True or False. The default engine_kwargs for the 'numba' engine is {'nopython': True, 'nogil': False, 'parallel': False}

# New in version 1.3.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [ ]:
s = pd.Series([4, 3, 5, 2, 6])
s.rolling(3).min()

0    NaN
1    NaN
2    3.0
3    2.0
4    2.0
dtype: float64

In [ ]:
# pandas.core.window.rolling.Rolling.skew
# Rolling.skew(numeric_only=False)[source]
# Calculate the rolling unbiased skewness.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# Added in version 1.5.0.

# Returns:
# Series or DataFrame
# # Return type is the same as the original object with np.float64 dtype.

In [ ]:
ser = pd.Series([1, 5, 2, 7, 15, 6])
ser.rolling(3).skew().round(6)

NameError: name 'pd' is not defined

In [ ]:
# pandas.core.window.rolling.Rolling.std
# Rolling.std(ddof=1, numeric_only=False, engine=None, engine_kwargs=None)[source]
# Calculate the rolling standard deviation.

# Parameters:
# ddofint, default 1
# Delta Degrees of Freedom. The divisor used in calculations is N - ddof, where N represents the number of elements.

# numeric_onlybool, default False
# Include only float, int, boolean columns.

# Added in version 1.5.0.

# enginestr, default None
# 'cython' : Runs the operation through C-extensions from cython.

# 'numba' : Runs the operation through JIT compiled code from numba.

# None : Defaults to 'cython' or globally setting compute.use_numba

# Added in version 1.4.0.

# engine_kwargsdict, default None
# For 'cython' engine, there are no accepted engine_kwargs

# For 'numba' engine, the engine can accept nopython, nogil and parallel dictionary keys. The values must either be True or False. The default engine_kwargs for the 'numba' engine is {'nopython': True, 'nogil': False, 'parallel': False}

# Added in version 1.4.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype

In [21]:
s = pd.Series([5, 5, 6, 7, 5, 5, 5])
s.rolling(3).std()

0         NaN
1         NaN
2    0.577350
3    1.000000
4    1.000000
5    1.154701
6    0.000000
dtype: float64

In [ ]:
# pandas.core.window.rolling.Rolling.cov
# Rolling.cov(other=None, pairwise=None, ddof=1, numeric_only=False)[source]
# Calculate the rolling sample covariance.

# Parameters:
# otherSeries or DataFrame, optional
# If not supplied then will default to self and produce pairwise output.

# pairwisebool, default None
# If False then only matching columns between self and other will be used and the output will be a DataFrame. If True then all pairwise combinations will be calculated and the output will be a MultiIndexed DataFrame in the case of DataFrame inputs. In the case of missing elements, only complete pairwise observations will be used.

# ddofint, default 1
# Delta Degrees of Freedom. The divisor used in calculations is N - ddof, where N represents the number of elements.

# numeric_onlybool, default False
# Include only float, int, boolean columns.

# Added in version 1.5.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [22]:
ser1 = pd.Series([1, 2, 3, 4])
ser2 = pd.Series([1, 4, 5, 8])
ser1.rolling(2).cov(ser2)

0    NaN
1    1.5
2    0.5
3    1.5
dtype: float64

In [ ]:
# pandas.core.window.rolling.Rolling.corr
# Rolling.corr(other=None, pairwise=None, ddof=1, numeric_only=False)[source]
# Calculate the rolling correlation.

# Parameters:
# otherSeries or DataFrame, optional
# If not supplied then will default to self and produce pairwise output.

# pairwisebool, default None
# If False then only matching columns between self and other will be used and the output will be a DataFrame. If True then all pairwise combinations will be calculated and the output will be a MultiIndexed DataFrame in the case of DataFrame inputs. In the case of missing elements, only complete pairwise observations will be used.

# ddofint, default 1
# Delta Degrees of Freedom. The divisor used in calculations is N - ddof, where N represents the number of elements.

# numeric_onlybool, default False
# Include only float, int, boolean columns.

# Added in version 1.5.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [ ]:
# pandas.core.window.expanding.Expanding.count
# Expanding.count(numeric_only=False)[source]
# Calculate the expanding count of non NaN observations.

# Returns
# :
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [24]:
ser = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
ser.expanding().count()

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [ ]:
# pandas.core.window.rolling.Rolling.sem
# Rolling.sem(ddof=1, numeric_only=False)[source]
# Calculate the rolling standard error of mean.

# Parameters:
# ddofint, default 1
# Delta Degrees of Freedom. The divisor used in calculations is N - ddof, where N represents the number of elements.

# numeric_onlybool, default False
# Include only float, int, boolean columns.

# Added in version 1.5.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [23]:
s = pd.Series([0, 1, 2, 3])
s.rolling(2, min_periods=1).sem()

0         NaN
1    0.707107
2    0.707107
3    0.707107
dtype: float64

In [ ]:
# pandas.core.window.ewm.ExponentialMovingWindow.mean
# ExponentialMovingWindow.mean(numeric_only=False, engine=None, engine_kwargs=None)[source]
# Calculate the ewm (exponential weighted moment) mean.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# Added in version 1.5.0.

# enginestr, default None
# 'cython' : Runs the operation through C-extensions from cython.

# 'numba' : Runs the operation through JIT compiled code from numba.

# None : Defaults to 'cython' or globally setting compute.use_numba

# Added in version 1.3.0.

# engine_kwargsdict, default None
# For 'cython' engine, there are no accepted engine_kwargs

# For 'numba' engine, the engine can accept nopython, nogil and parallel dictionary keys. The values must either be True or False. The default engine_kwargs for the 'numba' engine is {'nopython': True, 'nogil': False, 'parallel': False}

# Added in version 1.3.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [25]:
ser = pd.Series([1, 2, 3, 4])
ser.ewm(alpha=.2).mean()

0    1.000000
1    1.555556
2    2.147541
3    2.775068
dtype: float64

In [ ]:
# pandas.core.window.rolling.Rolling.sem
# Rolling.sem(ddof=1, numeric_only=False)[source]
# Calculate the rolling standard error of mean.

# Parameters:
# ddofint, default 1
# Delta Degrees of Freedom. The divisor used in calculations is N - ddof, where N represents the number of elements.

# numeric_onlybool, default False
# Include only float, int, boolean columns.

# Added in version 1.5.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [26]:
s = pd.Series([0, 1, 2, 3])
s.rolling(2, min_periods=1).sem()

0         NaN
1    0.707107
2    0.707107
3    0.707107
dtype: float64

In [ ]:
# pandas.core.window.expanding.Expanding.sem
# Expanding.sem(ddof=1, numeric_only=False)[source]
# Calculate the expanding standard error of mean.

# Parameters:
# ddofint, default 1
# Delta Degrees of Freedom. The divisor used in calculations is N - ddof, where N represents the number of elements.

# numeric_onlybool, default False
# Include only float, int, boolean columns.

# Added in version 1.5.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [27]:
s.expanding().sem()

0         NaN
1    0.707107
2    0.707107
3    0.745356
dtype: float64

In [ ]:
# pandas.core.window.expanding.Expanding.max
# Expanding.max(numeric_only=False, engine=None, engine_kwargs=None)[source]
# Calculate the expanding maximum.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# Added in version 1.5.0.

# enginestr, default None
# 'cython' : Runs the operation through C-extensions from cython.

# 'numba' : Runs the operation through JIT compiled code from numba.

# None : Defaults to 'cython' or globally setting compute.use_numba

# Added in version 1.3.0.

# engine_kwargsdict, default None
# For 'cython' engine, there are no accepted engine_kwargs

# For 'numba' engine, the engine can accept nopython, nogil and parallel dictionary keys. The values must either be True or False. The default engine_kwargs for the 'numba' engine is {'nopython': True, 'nogil': False, 'parallel': False}

# Added in version 1.3.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [28]:
ser = pd.Series([3, 2, 1, 4], index=['a', 'b', 'c', 'd'])
ser.expanding().max()

a    3.0
b    3.0
c    3.0
d    4.0
dtype: float64

In [ ]:
# ExponentialMovingWindow.sum(numeric_only=False, engine=None, engine_kwargs=None)[source]
# Calculate the ewm (exponential weighted moment) sum.

# Parameters:
# numeric_onlybool, default False
# Include only float, int, boolean columns.

# Added in version 1.5.0.

# enginestr, default None
# 'cython' : Runs the operation through C-extensions from cython.

# 'numba' : Runs the operation through JIT compiled code from numba.

# None : Defaults to 'cython' or globally setting compute.use_numba

# Added in version 1.3.0.

# engine_kwargsdict, default None
# For 'cython' engine, there are no accepted engine_kwargs

# For 'numba' engine, the engine can accept nopython, nogil and parallel dictionary keys. The values must either be True or False. The default engine_kwargs for the 'numba' engine is {'nopython': True, 'nogil': False, 'parallel': False}

# Added in version 1.3.0.

# Returns:
# Series or DataFrame
# Return type is the same as the original object with np.float64 dtype.

In [29]:
ser = pd.Series([1, 2, 3, 4])
ser.ewm(alpha=.2).sum()

0    1.000
1    2.800
2    5.240
3    8.192
dtype: float64

In [ ]:
    # pandas.DataFrame.idxmin
    # DataFrame.idxmin(axis=0, skipna=True, numeric_only=False)[source]
    # Return index of first occurrence of minimum over requested axis.

    # NA/null values are excluded.

    # Parameters:
    # axis{0 or â€˜indexâ€™, 1 or â€˜columnsâ€™}, default 0
    # The axis to use. 0 or â€˜indexâ€™ for row-wise, 1 or â€˜columnsâ€™ for column-wise.

    # skipnabool, default True
    # Exclude NA/null values. If an entire row/column is NA, the result will be NA.

    # numeric_onlybool, default False
    # Include only float, int or boolean data.

    # Added in version 1.5.0.

    # Returns:
    # Series
    # Indexes of minima along the specified axis.

    # Raises:
    # ValueError
    # If the row/column is empty

In [31]:
df.idxmin(axis="columns")

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [ ]:
pandas.DataFrame.iloc
property DataFrame.iloc[source]
Purely integer-location based indexing for selection by position.

Deprecated since version 2.2.0: Returning a tuple from a callable is deprecated.

.iloc[] is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array.

Allowed inputs are:

An integer, e.g. 5.

A list or array of integers, e.g. [4, 3, 0].

A slice object with ints, e.g. 1:7.

A boolean array.

A callable function with one argument (the calling Series or DataFrame) and that returns valid output for indexing (one of the above). This is useful in method chains, when you donâ€™t have a reference to the calling object, but would like to base your selection on some value.

A tuple of row and column indexes. The tuple elements consist of one of the above inputs, e.g. (0, 1).

.iloc will raise IndexError if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing (this conforms with python/numpy slice semantics).

In [32]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000}]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [33]:
type(df.iloc[0])

pandas.core.series.Series

In [34]:
df.iloc[[0, 1]]

     a    b    c    d
0    1    2    3    4
1  100  200  300  400