In [2]:
import pandas as pd
import numpy as np

In [ ]:
# Working with missing data

In [ ]:
# Filling missing data

In [ ]:
# Filling by value
# fillna() replaces NA values with non-NA data.

# Replace NA with a scalar value

In [3]:
data = {"np": [1.0, np.nan, np.nan, 2], "arrow": pd.array([1.0, pd.NA, pd.NA, 2], dtype="float64[pyarrow]")}

df = pd.DataFrame(data)

In [4]:
dff = pd.DataFrame(np.arange(30, dtype=np.float64).reshape(10, 3), columns=list("ABC"))

In [6]:
dff.where(pd.notna(dff),dff.mean(),axis="columns")

      A     B     C
0   0.0   1.0   2.0
1   3.0   4.0   5.0
2   6.0   7.0   8.0
3   9.0  10.0  11.0
4  12.0  13.0  14.0
5  15.0  16.0  17.0
6  18.0  19.0  20.0
7  21.0  22.0  23.0
8  24.0  25.0  26.0
9  27.0  28.0  29.0

In [7]:
df.interpolate()

         np     arrow
0  1.000000       1.0
1  1.333333  1.333333
2  1.666667  1.666667
3  2.000000       2.0

In [ ]:
# Interpolation

In [ ]:
# Fill gaps forward or backward

In [ ]:
df.ffill()

In [ ]:
# Calculations with missing data

In [ ]:
# Missing values propagate through arithmetic operations between pandas objects.

In [13]:
ser1 = pd.Series([np.nan, np.nan, 2, 3])

ser2 = pd.Series([np.nan, 1, np.nan, 4])

In [ ]:
# Replacing values
# Series.replace() and DataFrame.replace() can be used similar to Series.fillna() and DataFrame.fillna() to replace or insert missing values.

In [2]:
df=pd.DataFrame(np.eye(3))

In [ ]:
# Using the in operator
# Using the Python in operator on a Series tests for membership in the index, not membership among the values.

In [4]:
s = pd.Series(range(5), index=list("abcde"))
2 in s

False

In [ ]:
# If this behavior is surprising, keep in mind that using in on a Python dictionary tests keys, not values, and Series are dict-like. To test for membership in the values, use the method isin():

In [5]:
s.isin([2]).any()

True

In [ ]:
# Replacing values
# Series.replace() and DataFrame.replace() can be used similar to Series.fillna() and DataFrame.fillna() to replace or insert missing values.

In [6]:
df_missing=df.replace(0,np.nan)

In [8]:
df_filled=df_missing.replace(np.nan,2)

In [ ]:
# Replacing using a mapping dict.

In [9]:
df_filled.replace({1:44,2:28})

      0     1     2
0  44.0  28.0  28.0
1  28.0  44.0  28.0
2  28.0  28.0  44.0

In [ ]:
# Filling missing data

In [ ]:
# fillna() replaces NA values with non-NA data.

# Replace NA with a scalar value

In [10]:
data = {"np": [1.0, np.nan, np.nan, 2], "arrow": pd.array([1.0, pd.NA, pd.NA, 2], dtype="float64[pyarrow]")}

df = pd.DataFrame(data)

In [11]:
df.fillna(0)

    np  arrow
0  1.0    1.0
1  0.0    0.0
2  0.0    0.0
3  2.0    2.0

In [ ]:
# Fill gaps forward or backward

In [12]:
df.ffill()

    np  arrow
0  1.0    1.0
1  1.0    1.0
2  1.0    1.0
3  2.0    2.0